<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head'); %>
<body>
    <%- include('../partials/header') %>
    <main>
        <figure><i class="fas fa-exclamation-circle"></i><span>   Usted no es un usuario administrador</span></figure>
        <br>
        <a href="/">Volver al inicio</a>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>