* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    background-color: #a3cef1;
  }
  
  a {
    text-decoration: none;
    color: #274c77;
  }
  
  .login {
    width: 80%;
    margin: 2rem auto;
    text-align: center;
  }
  
  .login h3 {
    font-size: 2rem;
    color: #3d4852;
  }
  
  .login form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    align-items: center;
    padding: 0.7rem;
  }
  
  .login form input {
    margin: 0.6rem;
  }
  
  .login form input[type="text"],
  .login form input[type="password"] {
    width: 60%;
    padding: 0.4rem 0.2rem;
    border: none;
    border-bottom: 1px solid #274c77;
    background-color: #f2f2f2;
  }
  
  .login p {
    font-size: 1rem;
  }
  
  .login input[type="checkbox"] {
    margin-right: 0.3rem;
  }
  
  .btn {
    padding: 10px 35px;
    background-color: #274c77;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .btn:hover {
    background-color: #fff;
    transition: ease 0.2s;
    color: #274c77;
  }
  
  .flex {
    display: flex;
    gap: 1.6rem;
    justify-content: center;
    align-items: center;
  }
  
  .form_anchors {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    text-decoration: none;
  }
  
  @media all and (max-width: 369px) {
    .login form {
      width: 95%;
    }
  
    .login form input[type="text"],
    .login form input[type="password"],
    .login form input[type="email"] {
      width: 100%;
    }
  }
  
  @media all and (max-width: 980px) {
    .login form {
      width: 80%;
    }
  
    .login form input[type="text"],
    .login form input[type="password"],
    .login form input[type="email"] {
      width: 90%;
    }
  }
  