* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  /* background-color: #A3CEf1; */
  background-color: pink;
}
header {
  height: 70px;
  background-color: #274c77;
  padding: 10px 0;
}
.menu-wrap {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}
.logo-img {
  max-height: 60px;
}
.menu-icon {
  font-size: 2.4em;
  color: #ffffff;
  line-height: 50px;
  cursor: pointer;
}
nav {
  position: absolute;
  background-color: #3D4852;
  top:70px;
  left:0;
  width: 100%;
}
nav ul {
  list-style-type: none;
  max-height: 0px;
  overflow: hidden;
  transition: all 0.5s;
}
nav ul li {
  padding: 0 15px;
}
nav ul li a {
  display: inline-block;
  padding: 8px;
  /* Add your custom styles below to change appearance of links */
  color: #DAE1E7;
  text-decoration: none;
  letter-spacing: 0.05em;
}
nav ul li a:hover, nav ul li a:focus {
  color: #eb6f4a;
}
#checkbox {
  display: none;
}
#checkbox:checked ~ nav ul {
  max-height: 200px;
  padding: 15px 0;
  transition: all 0.5s;
}

.blue {
  color: #274c77 !important;
  text-align: center;
}

@media (min-width: 768px) { 
  .menu-icon {
      display: none;
  }
  nav {
      position: relative;
      top: -10px;
      background-color: #274c77;
      color: white !important;
  }
  nav ul {
      max-height: 70px;
      padding: 15px 0;
      text-align: right;
  }
  nav ul li a{
      display: inline-flex;
      padding-left: 20px;
      color: white !important;
  }
}

h1{
  font-size: 2.2em;
  text-align: center;
  padding: 60px 40px 30px;
  color: #3D4852;
  line-height: 1.2;
}
p{
  line-height: 1.6;
  font-size: 1.2em;

  color: #3D4852;
}

img {
  max-width: 100%;
}

.buscar{
  display: flex;
  justify-content: center;
}

.busqueda {
  height: 30px;
  width: 300px;
}


/*main */
.ofertas {
  text-align: center;
}

/* mobile phone */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: 0 auto;
 justify-content: center;
  padding: 1em;
}

.flex-item {
  flex: 100%;
 /* height: 100%; */
  margin-bottom: 3rem;
  background-color: #ececef;
  text-align: center;
  padding-top: 1rem;
}

/* tablet */
@media screen and (min-width: 640px) {
  .flex-item {
    flex: calc(50% - 1em);
  }

  .flex-item:nth-child(2n) {
    margin-left: 1em;
  }
}

/* desktop */
@media screen and (min-width: 960px) {
  .flex-item {
    flex: calc(25% - 1em);
  }

  .flex-container > * + * {
    margin-left: 1em;
  }
}

#producto{
  
  border: 3px solid #6096ba;
  border-radius: 15px;
}

.detalles {
  text-align: center;
  color: #274c77;
  padding: 0.5rem;
  line-height: 2rem;
}

.precio {
  padding: 0 10px;
  text-align: center;
}

a {
  text-decoration: none;
}

.agregar {
  color: white;
  background-color: #274c77;
  padding: 1rem;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
li {
list-style-type: none;
}
