<header class="menu">
    <div class="menu-wrap">
        <nav>
            <ul>
                <li><a href="/categoria/1">Vigilancia</a></li>
                <li><a href="/categoria/2">Acceso</a></li>
                <li><a href="/categoria/3">Conectividad</a></li>
                <li><a href="/categoria/4">Intrusion</a></li>
                <li><a href="/categoria/5">Porteria</a></li>
                <li><a href="/categoria/6">Accesorios</a></li>
            </ul>
        </nav>
    </div>
</header>