<footer>
    <picture>
        <img src="" alt="">
    </picture>
    <p>Copyright&copy; SES 2021 - Todos los derechos reservados.</p>
    <a href="mailto:soluciones@ses.com.ar"><span class="iconify" data-icon="carbon:email" data-inline="false"></span>soluciones@ses.com.ar</a>
    <a href="tel:+5491152526565"><span class="iconify" data-icon="bi:phone" data-inline="false"></span>+54 9 11 5252-6565</a>
</footer>