
        <nav class="navbar navbar-expand-lg navbar-light yale">
            <div class="container-fluid">
              <a class="navbar-brand" href="/"><img src="/img/ses.jpg" /></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav white">
                  <li class="nav-item white">
                    <a class="nav-link active white" aria-current="page" href="/">Inicio</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle white" href="/catalogo" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Catálogo
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item white" href="/categoria/1">Vigilancia</a></li>
                        <li><a class="dropdown-item white" href="/categoria/2">Acceso</a></li>
                        <li><a class="dropdown-item white" href="/categoria/3">Conectividad</a></li>
                        <li><a class="dropdown-item white" href="/categoria/4">Intrusion</a></li>
                        <li><a class="dropdown-item white" href="/categoria/5">Porteria</a></li>
                        <li><a class="dropdown-item white" href="/categoria/6">Accesorios</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link white" href="/shoppingCart"><span><i class="fa fa-shopping-cart"></i></span> Ver carrito</a>
                  </li>
                  <% if(locals.usuario) { %> 
                    <li class="white-top"><a class="white-top" href="/admin/administrar">Administrar</a></li>
                    <li><a class="white-top" href="/logout">Cerrar Sesión</a></li>
                <% } else { %>  
                    <li ><a class="white-top" href="/register">Registro</a></li>
                    <li><a class="white-top" href="/login">Iniciar Sesión</a></li>
                <%}%> 
                  
                </ul>
                <form action="/search" method="POST" class="d-flex">
                    <input type="text" placeholder="Buscar productos" name="search" class="form-control me-2">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                    
                  </form>
              </div>
            </div>
          </nav>
