<header class="menu">
    <div class="menu-wrap">
        <img src="/img/logo.jpeg" class="logo-img" alt="Logo">
        <input type="checkbox" id="checkbox">
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/catalogo">Catálogo</a></li>
                <li><a href="/admin/editProduct">Editar</a></li>
                <li><a href="/admin/createProduct">Crear</a></li>
                <li><a href="/register">Registro</a></li>
                <li><a href="/login">Iniciar Sesión</a></li>
                <li><a href="/carrito">Ver carrito <span><i class="fa fa-shopping-cart"></i></span></a></li>
            </ul>
        </nav>
        <label for="checkbox">
            <i class="fa fa-bars menu-icon"></i>
        </label>
    </div>
</header>