<div class="buscar">
    <form action="/search" method="POST" class="busqueda">
      <input type="text" placeholder="Buscar productos" name="search">
      <button type="submit" class="boton-buscar">Buscar</button>
      
    </form>
</div>