<!DOCTYPE html>
<html lang="en">
<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" rel="stylesheet">
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <!-- <link rel="stylesheet" href="/css/estilos_globales.css"> 
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/footer.css">
</head> -->
<%- include('../partials/head') %>
<body>
    <!-- <header class="menu">
        <div class="menu-wrap">
            <img src="/img/logo.jpg" class="logo-img" alt="Logo">
            <input type="checkbox" id="checkbox">
            <nav>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="#">Catálogo</a></li>
                    <li><a href="/register">Registro</a></li>
                    <li><a href="/login">Iniciar Sesión</a></li>
                    <li><a href="/productCart">Ver carrito <span><i class="fa fa-shopping-cart"></i></span></a></li>
                </ul>
            </nav>
            <label for="checkbox">
                <i class="fa fa-bars menu-icon"></i>
            </label>
        </div>
    </header> -->
    <%- include('../partials/header') %>
    <section>
        <div class="hero">
          <img src="img/slider_01.png" />
      </div>
      </section>
    <section>
            <main class="login">
                <h3>Ingresa tus datos:</h3>
                <form action="/login" method="POST" enctype="multipart/form-data" id="formulario">
                    <input type="email" name="email" placeholder="tucorreo@email.com" required>
                    <input type="password" name="password" placeholder="Contraseña" required>
                    <p><input type="checkbox" name="rememberMe" id="remember">Recuerdame</p>
                    <input type="submit" value="Enviar" class="btn">
                    <div class="flex">
                        <a class="form_anchors" href="/register">Registrarme</a>
                        <a class="form_anchors" href="/forgotPassword">Olvidé mi contraseña</a>
                    </div>
                </form>
            </main>
    </section>
    <!-- <footer>
        <picture>
            <img src="" alt="">
        </picture>
        <p>Copyright&copy; SES 2021 - Todos los derechos reservados.</p>
        <a href="mailto:soluciones@ses.com.ar"><span class="iconify" data-icon="carbon:email" data-inline="false"></span>soluciones@ses.com.ar</a>
        <a href="tel:+5491152526565"><span class="iconify" data-icon="bi:phone" data-inline="false"></span>+54 9 11 5252-6565</a>
    </footer> -->
    <%- include('../partials/footer') %>
</body>
</html>

















<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" rel="stylesheet">
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <link rel="stylesheet" href="/css/estilos_globales.css"> RECOMENDACION ESTILOS 
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <header class="menu">
        <div class="menu-wrap">
            <img src="/img/logo.jpg" class="logo-img" alt="Logo">
            <nav>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/register">Registro</a></li>
                    <li><a href="/login">Iniciar Sesión</a></li>
                    <li><a href="/productCart">Ver carrito <span><i class="fa fa-shopping-cart"></i></span></a></li>
                </ul>
            </nav>
            <label for="checkbox">
                <i class="fa fa-bars menu-icon"></i>
            </label>
        </div>
    </header>
    <section>
        <div class="hero">
          <img src="img/slider_01.png" />
      </div>
      </section>
    <section>
            <main class="login">
                <h3>Ingresa tus datos:</h3>
                <form action="/" method="POST" class="">
                    <input type="text" placeholder="Nombre de Usuario" required>
                    <input type="password" placeholder="Contraseña" required>
                    <input type="submit" value="Enviar" class="btn">
                    <p><input type="checkbox" name="" id="remember">Recuerdame</p>
                    <div class="flex">
                        <a class="form_anchors" href="/register">Registrarme</a>
                        <a class="form_anchors" href="/forgot_password">Olvidé mi contraseña</a>
                    </div>
                </form>
            </main>
    </section>
    <footer>
        <picture>
            <img src="" alt="">
        </picture>
        <p>Copyright&copy; SES 2021 - Todos los derechos reservados.</p>
        <a href="mailto:soluciones@ses.com.ar"><span class="iconify" data-icon="carbon:email" data-inline="false"></span>soluciones@ses.com.ar</a>
        <a href="tel:+5491152526565"><span class="iconify" data-icon="bi:phone" data-inline="false"></span>+54 9 11 5252-6565</a>
    </footer>
</body>
</html>   -->