<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>
<body>
    <%- include('../partials/header'); %>
    <section>
        <div class="hero">
          <img src="img/slider_01.png" />
      </div>
      </section>
    <section>
        <main class="login">
            <h3>¡Tu registro se ha completado exitosamente!</h3>
            <p>Por favor, logueate para ingresar a tu cuenta.</p>
            <a href="/">Volver al inicio</a>
        </main>
    </section>

    <%- include('../partials/footer'); %>
</body>
</html>