<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <section>
      <div class="hero">
        <img src="img/slider_01.png" />
    </div>
    </section>
    <section>
        <main class="login">
            <h3>Registrarme</h3>
            <% if(typeof(errors) != 'undefined'){%>
                <ul class="alert alert-danger">
                   <% errors.forEach(error => { %>
                      <li><%= error.msg%></li>
                   <%});%>
                 </ul>
             <%}%>    
            <form action="/register" method="POST" enctype="multipart/form-data">
                <p><span><input type="text" name="first_name" placeholder="Nombre" required></span><span><input type="text" name="last_name" placeholder="Apellido" required></span></p>
                <input type="email" name="email" placeholder="tucorreo@email.com" required>
                <input type="password" name="password" placeholder="Contraseña" required>
                <input type="password" name="repeatPassword" placeholder="Repetir Contraseña" required>
                <div class="image-uploa">
                    <label for="file-input">
                        Foto de perfil
                    </label>
                <input type="file" name="avatar">
                </div>
                <input type="submit" value="Enviar" class="btn">
                <a class="form_anchors" href="/login">Ya tengo cuenta</a>
            </form>
        </main>
    </section>
    <%- include('../partials/footer') %>
    <script src="js/register.js"></script>
</body>
</html>