<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <section>
        <main class="login">
            <h3>Registre su empresa</h3>
            <% if(typeof(errors) != 'undefined'){%>
                <ul class="alert alert-danger">
                   <% errors.forEach(error => { %>
                      <li><%= error.msg%></li>
                   <%});%>
                 </ul>
             <%}%>    
            <form name="RegForm" action="/register/corporate" onsubmit=" return validaciones()" method="POST" enctype="multipart/form-data">
                <input type="text" name="companyName" id="first_name" placeholder="Nombre de la organizacion">
                <input type="text" name="cuit" id="last_name" placeholder="Numero de CUIT">
                <input type="email" name="email" id="email" placeholder="organizacion@email.com" >
                <input type="password" name="password" id="password" placeholder="Contraseña" >
                <input type="password" name="repeatPassword" id="repeatPassword" placeholder="Repetir Contraseña">
                <div class="image-uploa">
                    <label for="file-input">
                        Foto de perfil
                    </label>
                    <input type="file" name="avatar">
                </div>
                <input type="submit" value="Enviar" class="boton">
                <div class="flex">
                    <a class="form_anchors" href="/register/comercial">Registrarme como usuario</a>
                    <a class="form_anchors" href="/login">Ya tengo cuenta</a>
                </div>
            </form>
        </main>
    </section>
    <%- include('../partials/footer') %>
    <script src="js/validaciones.js">
   
        
    </script>
    <script src="js/register.js"></script>
</body>
</html>